@import "../_bower_components/bootstrap/less/bootstrap.less";
@icon-font-path: "../_bower_components/bootstrap/dist/fonts/";

.hola{
  color:'black'  
}

.adios{
  background-color: 'purple';
  color:'red' 
 }
