---
layout: default
---

<div class="proyectos textura-post">
  <div class="post-img-full parallax" style="background-image: url('../images/pimame.jpg')">

  </div>
  <section class="post-content inner">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <div class="date-wrapper">
          <div class="date">
            <span class="day">15</span> <span class="month">Mar</span>
          </div>
        </div>
        <div class="post">
          <h1>{{page.title}}</h1>
          {{content}}
        </div>
     </div>
      <div class="col-sm-4">
        <h3>Esto es el lateral</h3>
        <ul class="lateral-inscripcion">
          <li><div class="">22-23 Julio de 2014</div><span class="icon-location"></span></li>
          <li><div class="">de 17h a 19h</div></li>
          <li><div class="">Hirikilabs -Donosti</div></li>
          <li><div class="">Incluye un kit completo</div></li>
          <li><div class="">35€</div></li>
          <li><div class=""><button type="button" class="btn btn-primary">Inscripción</button></div></li>
        </ul>
      </div>
    </div>
  </section>
</div>
</div> 